.about__container {
    padding-inline: 6rem;
    margin-bottom: 5rem;
    padding-top: 40px;
}

.about__img {
    width: 100%;

    & img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}

.about__img :last-child {
    height: 5rem;
}

/* Mobile */
@media only screen and (width <=768px) {
    .about__container {
        padding-inline: 0;
    }
}