.about__container {
    padding-inline: 6rem;
    margin-bottom: 5rem;
    padding-top: 40px;
}

.about__img {
    width: 100%;

    & img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}

.about__img :last-child {
    height: 5rem;
}

/*RESPONSIF*/
@media only screen and (width <=1240px) {

    .about__img {
        padding-bottom: 3rem;
    }
}

@media only screen and (width <=1024px) {

    .about__container {
        padding-top: 6rem;
    }
}

@media only screen and (width <=768px) {
    .about__container {
        padding-top: 3rem;
        padding-inline: 0;
    }

    .about__img {
        padding-top: 50px;
    }
}