@use "../../scss/variables.scss" as *;

.logement-page {
    color: $color-primary;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
}

.logement-page h1 {
    font-size: 5rem;
}

.logement__description__collapse {
    display: flex;
    gap: 4rem;
}

/* Mobile */
@media only screen and (width <=768px) {
    .logement__description__collapse {
        flex-direction: column;
        gap: 0.3rem;
    }
}