@use "../scss/variables.scss" as *;

.Appartement-page {
    color: $color-primary;
    padding: 2rem;

    h1 {
        font-weight: 500;
    }

    & .appartement__tags {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 150px)); //il se débrouille Au minimum une taille de 100px et au max 150px
        gap: 1rem;

        span {
            background-color: $color-primary;
            color: $color-tertiary;
            padding: 0.2em 1em;
            border-radius: 0.7rem;
            text-align: center;
        }

    }
}