@use "../scss/variables.scss" as *;

.Appartement-page {
    color: $color-primary;
    padding: 2rem;
    width: 90%;


    .appartement__collapse {
        display: flex;
        justify-content: space-between;
        gap: 76px;

        @media screen and (width <=768px) {
            flex-direction: column;

        }
    }

    .appartement__description {
        width: 45%;

        p {
            margin-block: 0;
        }

        .description__header {
            background-color: $color-primary;
            color: $color-tertiary;
            padding: 0.2em 1em;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                cursor: pointer;
            }
        }

        .description__content {
            background-color: $background-light-grey;
            color: $color-primary;
            border-radius: 5px;
            position: relative;
            top: -0.3rem;
            z-index: -1; //postion,top,z-index : pour faire passer le <p> en dessous du titre
        }
    }

    .appartement__equipment {
        width: 45%;

        p {
            margin-block: 0;
        }

        .description__header {
            background-color: $color-primary;
            color: $color-tertiary;
            padding: 0.2em 1em;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                cursor: pointer;
            }
        }

        .description__content {
            background-color: $background-light-grey;
            color: $color-primary;
            border-radius: 5px;
        }
    }


}